@charset 'UTF-8';

$badge-radius: 24px !default;

.badge{

  $selector: &;
  border-radius: $badge-radius;
  background: $color-default;
  color: white;
  display: inline-block;
  font-weight: normal;
  padding: {
    right: em(9);
    left: em(9);
  }

  @include vr-font(ms(-1, $ratio:$perfect-fourth), $unit: em);
  @include all-state(label);

  &--inverse{

    @include all-state('label-inverse', $selector);
    background: white;
  }
}
