$btn-box-shadow: false !default;
$color-primary: rgb(3, 185, 233) !default;

$nav-title-color: $color-primary !default;

$max-width-sm: 900px !default;

$jumbotron-color: white !default;
$jumbotron-background: $color-primary !default;
